a{text-decoration: none; }
a:active{text-decoration: none; }
a:link{text-decoration:none;}

#iconMenu{      list-style-type: none;      margin:0;      padding:1em;}
#iconMenu li{   font-size:3rem;}


.menu-detail{
  float:left;
  width:300px;
  height: 400px;
  background: rgba(255, 255, 255, 0.8);
  position:absolute;
  left:54px;
  z-index:10000;
  box-shadow:inset -2px 0px 3px 0px #3862C4;
}
.menu-show{
  display: inline;
  opactiy : 1;
  transform : scale(1);
}
.menu-hide{
  display:none;
  opactiy : 0;
  transform: scale(0);
}
.btn-shadow{    text-shadow: 2px 2px #EEEEEE; }


.scroll-style::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scroll-style::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

.scroll-style::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
  left bottom,
  left top,
  color-stop(0.44, rgb(122,153,217)),
  color-stop(0.72, rgb(73,125,189)),
  color-stop(0.86, rgb(43, 88, 224)));
}