.openGDSMobile-attr-panel {
    position : absolute;
    width : 300px;
    height : 100px;
    z-index : 50;
    background-color : #FFFFFF;
    border-radius: 10px;
    border : dashed;
    border-width : 1px;
    overflow-x: auto;
}

.openGDSMobile-attr-textInput{
    background-color: transparent;
    border:0px solid;
    font-size:15px;
    text-align:center;
    width: 120px;
    margin:0px;
}