.openGDSMobile-Manager-list{
    width : 100%;
    height : 200px;
    margin-top : 2px;
    margin-bottom : 2px;
    margin-left : 0px;
    margin-right : 0px;
}

.openGDSMobile-Manager-type{
    width : 30%;


}