.openGDSMobile-manager{
    width: 100%;
    height : 100%;
    padding:0;
    margin:0;
    max-height : 100%;
    overflow-y: auto;
    list-style-type : none;
}
.openGDSMobile-manager-list{
    width : 100%;
    height : 5%;
    margin : 2px 0px 2px 0px; /*top right bottom left*/
}

.openGDSMobile-manager-type{
    float :left;
    width : 15%;
    height : 100%;
    margin : 0;
    padding : 0;
}
.openGDSMobile-manager-canvas{
    width: 100%;
    height : 100%;
}
#openGDSMobileWrapper{
    display: table;
    float :left;
    width : 65%;
    height : 100%;
    margin : 0;
    padding : 0;
    text-align: center;
}
#openGDSMobileCell{
    display:table-cell;
    vertical-align:middle;
}
.openGDSMobile-manager-title{
    background-color : #b7ddda;
}
.openGDSMobile-manager-setting{
    float :left;
    width : 20%;
    height : 100%;
    margin : 0;
    padding : 0;

}

